.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading {
    font-size: 4em;
    margin: 20px;
}

.description {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}